     <!-- start of about -->
<section class="container" id="about">
  <div class="head">
    <h2><span>A</span>bout <span>U</span>s</h2>
  </div>
  <div class="container">
    <div class="about-content">
      <div class="left-photo">
        <img src="../../assets/images/WhatsApp Image 2024-10-05 at 6.42.38 PM 1.png" alt="books" />
      </div>
      <div class="right-content">
        <p>
          In a world where stories and knowledge shape our lives, <span>Bookbyte</span> is your destination for purchasing premium books. We offer a selection of bestsellers, niche genres, and must-read titles. Our mission is to provide book lovers with an easy and safe platform to purchase their next great read, whether you're looking for inspiration, education, or entertainment.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- end of about -->

