
    <!-- start of home -->
    <header class="container-fluid align-content-center">
      <div class="row">
        <div
          class="col-12 col-md-6 align-content-center mb-sm-5 mb-md-0 text-light text-center" >
          <h1 class="fw-bolder">Book<span>B</span>yte</h1>
          <p class="fw-normal fs-4">
            Discover a world of knowledge at your fingertips with our vast
            collection of EBooks, from timeless classics to the latest
            bestsellers. Start your reading journey today!
          </p>
          <h3 class="fs-5">start</h3>
          <button class="btn btn-lg btn-dark text-capitalize fw-semibold" routerLink='/categories'routerLinkActive="active-link"> discover now  </button>
        </div>
        <div class="col-12 col-md-6 d-flex align-content-center justify-content-center" >
          <img src="../../assets/images/book.png" alt="header-logo" />
        </div>
      </div>
    </header>
    <!-- end of home -->



    <!-- ------------------------ -->
    <footer class="container-fluid">
      <div class="footer-content">
        <div class="icons">
          <span class="line"></span>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-tiktok"></i>
          <span class="line"></span>
        </div>

        <div class="content">
          <p>Copyright2024 Bookbyte</p>
          <div class="logo-footer">
           
            <img src="../../../assets/images/logofoot.png" alt="logo" />
          </div>
        </div>
      </div>
    </footer>
    <!-- end of footer -->
